# 자바 컴파일 결과물
*.class
*.jar
*.war
*.ear

# 빌드 디렉터리
/build/
out/
target/

# IDE 관련 파일
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS 관련 파일
.DS_Store            # macOS
Thumbs.db            # Windows

# 로그 파일
*.log

# 환경 설정 파일
*.env
*.properties

# 외부 라이브러리
lib/

# 백업 파일
*.bak
*.swp
*.swo
*.orig
*.tmp